html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #5D393D;
}

.container {
  max-width: 1500px;
  padding: 0 20px;
}

.title {
  font-weight: 300;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  b {
    font-weight: 700;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;

  img {
    max-width: 100%;
  }
}

.app {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fcfeff;
}

.label {
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 5px;
}

.participantes {
  margin: 40px 0;

  .label {
    text-align: center;
  }

  .lista-participantes {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    gap: 15px;
  }
}

footer {
  background: #e9e9e9;
  text-align: center;
  padding: 40px 20px; 
  font-size: 12px;
  margin: 50px 0 0;
  line-height: 23px;

  a {
    color: rgb(29, 111, 158);
    &:hover {
      color: rgb(18, 81, 117);
    }
  }
}

.preloader {
  background: red;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  z-index: 999;
}